<!doctype html>
<head>
<title>NBA</title>
<!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">-->
</head>
<body>
	<div class=page>
		<h1>{{ table_name }}</h1>
		<table>
			<tr><th>person</th><th>team</th><th>wins</th><th>losses</th><th>ties</th><th>win pct</th></tr>
			{% for team in teams %}
				<tr><td>{{ team.user_name }}</td><td>{{ team.name }}</td><td>{{ team.won }}</td><td>{{ team.lost }}</td><td>{{ team.tie }}</td><td>{{ team.win_precentage }}</td></tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>